
a:link { 
    text-decoration:none;
    color: white;
    margin-left: 6px;  
    text-shadow: 1px 1px 2px black;

}

a:visited { 
    text-decoration:none; 
    color: white;
    margin-left: 6px;  
    text-shadow: 1px 1px 2px black;

}

a:hover {
    text-decoration: underline;
}

input{
    margin-top: 6px;
}

input[type=text] {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
}

input[type=email] {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
}

input::placeholder {
    color: white;
}

fieldset{
    margin-bottom: 5px;
}

.columnauno{
    background-image: url(../multimedia/compass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: local;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.columnados{
    background-image: url(../multimedia/renegade2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: local;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.columnatres{
    background-image: url(../multimedia/wrangler.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: local;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

